<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Movie Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar (ionChange)="retrieveMovie()" [(ngModel)]="searchTerm"></ion-searchbar>
	<ion-item>
		<ion-label>Select Search Type</ion-label>
		<ion-select placeholder="Select One" (ionChange)="retrieveMovie()" [(ngModel)]="type">
			<ion-select-option value="">All</ion-select-option>
			<ion-select-option value="movie">Movie</ion-select-option>
			<ion-select-option value="series">Series</ion-select-option>
			<ion-select-option value="episode">Episode</ion-select-option>
			<ion-select-option value="game">Game</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-list>
		<ion-item [routerLink]="'/movies/'+movie.imdbID" *ngFor="let movie of movies">
			<!-- display icon according to movie.Poster -->
			<ion-avatar slot="start" *ngIf ="movie.Poster != 'N/A'">
				<img src="{{movie.Poster}}">
			</ion-avatar>
			<!-- display default image if it is N/A in movie.Poster -->
			<ion-avatar slot="start" *ngIf ="movie.Poster == 'N/A'">
				<img src="assets/images/default.png">
			</ion-avatar>
			<ion-label>
				<h3>{{movie.Title}}</h3>
				<p>{{movie.Year}}</p>
			</ion-label>
			<ion-icon slot="end" name="videocam" *ngIf="movie.Type == 'movie'"></ion-icon>
			<ion-icon slot="end" name="tv"  *ngIf="movie.Type == 'series' || movie.Type == 'episode'"></ion-icon>
			<ion-icon slot="end" name="logo-game-controller-b" *ngIf="movie.Type == 'game'"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
